.container {
  width: 70vw;
  margin: 0 auto 4rem;
  background-color: black;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.copyright {
  margin: 0 0 1rem 4rem;
}
